<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>VeraBot 需要使用相机，以便拍照发送给 Bot。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>VeraBot 需要访问局域网内的 VeraBot 服务器。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>VeraBot 需要使用麦克风进行中文语音输入。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>VeraBot 使用语音识别将你的中文语音实时转换为文字。</string>
</dict>
</plist>
